* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top > img {
  height: 100px;
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 10px;
  background-color: burlywood;
   margin: 20px 0px;
   position: sticky;
   top: 0;
}

.main{
    display: grid;
    padding: 10px;margin: 10px;
    grid-template-columns: 1fr 1fr;

}

.main .item{
    padding: 10px;margin: 10px;
}

.main img{
  width: 100%;
  height: auto;
  
}
.main .item2,.item3{
  display: grid;
  align-items: center;
}
.videos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 10px;
}
.videos .line{
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contact .info{
  display: flex;
  justify-content: space-evenly;

}

.info1{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.info1 .input1{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.info1 button{
  width: 50px;height: 20px;
  text-align: center;
  
}

.info2{
  display: flex;
  flex-direction: column;
}
.b-container{
  display: flex;justify-content: center;
}

.info2 div{
  margin-bottom: 20px;
}
.info3{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.info3 .input1{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.info3.button1 {
  width: 50px;height: 20px;
  text-align: center;
}