* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top > img {
  height: 100px;
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  padding: 10px;
  background-color: black;
   margin: 20px 0px;
   position: sticky;
   top: 0;
}

.main{
    display: grid;
    padding: 10px;margin: 10px;
    grid-template-columns: 1fr 1fr;

}

.main .item{
    padding: 10px;margin: 10px;
}

.main img{
  width: 100%;
  height: auto;
  
}
.main .item2,.item3{
  display: grid;
  align-items: center;
}
.videos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 10px;
}
.videos .line{
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contact .info{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}